.text1{
    text-align: left;
    background-color: grey;
    color: white;
    font-size: 25px;
}

.text2{
    text-align: left;
    color: black;
    font-size: 20px;
    line-height: 80%;
}

.center1{
    margin-left: 20%;
    margin-right: 20%;
}